header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-options{
    color: $white;
    padding: 20px;
}

.header-options:hover{
    color: $black;
}

@media screen and (max-width: 768px) {
    .header-options{
        display: none;
    }

    .header-icon{
        margin-left: 30%;
    }
}

.header-iframe{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}