// Title

.title{
    color: $white;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        text-align: center;
        line-height: 150%;
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .background{
        min-height: 70vh;
    }

    .title{
        padding-top: 50px;
        h1{
            font-size: 40px;
        }
    }
}

// -----------------------------------------

// Image

.image-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: small;
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .image-content img{
        width: 100%;
        height: 240px;
        object-fit: cover;
        object-position: end;
    }
}

// -----------------------------------------

// Icon

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    padding-left: 20px;
    width: 120px;
    cursor: pointer;
}

// -----------------------------------------

// Impacts

.impacts{
    background-color: $black;
    overflow: hidden;
    color: $white;
}

.initial-impacts-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 34px 14px 64px 14px;

    img{
        max-width: 570px;
        border-radius: 0;
    }
}

.initial-impacts-content div{
    flex: 1;
}

.impacts-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 38px;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .initial-impacts-content{
      flex-direction: column;
    }
}

.plastic-recycling{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        font-size: small;
        max-width: 700px;
    }
}

// -----------------------------------------

// Environment

.environment{
    background-color: $white;
    overflow: hidden;
    color: $black;
}

.environment-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 34px 14px 30px 14px;
}

.environment-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 38px;
        margin-bottom: 24px;
        text-align: center;
    }
}

.environment-images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
    img{
        max-height: 380px;
        max-width: 600px;
    }
}

@media screen and (max-width: 900px) {
    .environment-images{
        display: flex;
        flex-direction: column;
    }
}

// -----------------------------------------

// The Ocean Cleanup

.the-ocean-cleanup{
    background-color: $gray;
    overflow: hidden;
    color: $white;
}

.initial-the-ocean-cleanup-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 34px 14px 30px 14px;
}

.the-ocean-cleanup-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 38px;
        padding-bottom: 20px;
        text-align: center;
    }

    img{
        max-width: 870px;
    }
}

@media screen and (max-width: 768px) {
    .the-ocean-cleanup-description{
        h2{
            font-size: 32px;
        }

        img{
            height: 310px;
        }
    }  
}

// --------------------------------------------